.nav-text {
  font-family: "Roboto", sans-serif;
  font-family: "VT323", monospace;
  font-size: 16px;
  line-height: 18.75px;
}
.hero-p {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
}
.hero-image {
  background: url(/image/bg.png), lightgray 0px -98.506px / 100% 240% no-repeat;
  background-position: center;
  background-size: cover;
  height: 500px;
  padding-top: 89px;
}
.hero-text {
  font-family: "Roboto", sans-serif;
  font-family: "VT323", monospace;
  padding-top: 20px;

}
.hero-text h2 {
  font-size: 23px;
  line-height: 28.12px;
  font-weight: 700;
  padding-left: 10px;
  /* padding-right: 10px; */
}
.hero-text h1 {
  font-size: 70px;
  line-height: 84.38px;
  font-weight: 700;
  letter-spacing: 10%;
}
.hero-btn{
    color: #272142;
}
.btn{
    background-color: white !important;
    border-radius: 50px !important;
    padding: 18px 30px 18px 30px !important;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    line-height: 17.07px;

}
.content {
    padding-top: 20px;
}
img{
    transition: transform .2s;
    padding:3px;

}
img:hover{
    transform: scale(1.2);
}
footer{
  background-color:  #282323;
;
}
/*  Media 


/* About -Page Css
 */
 .about-hero{
  background: url(/image/bg.png), lightgray 0px -98.506px / 100% 240% no-repeat;
  background-position: center;
  background-size: cover;
  height: 500px;
  padding-top: 50px;
  width:50%

 }
 .flex{
  /* display:flex; */
  display: flex;
/* width: 1440px; */
flex-direction: row;
/* justify-content: center; */
/* align-items: center; */
/* gap: 100px; */
 }
 .about-text{
  width:50%;
  background-color:#1B1B1B;
  height: 500px;
 }
 .p-text{
 color: #F65282;
font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 1.8px;
text-transform: uppercase;
  
 }
 .h2-text{
  font-family: Roboto;
font-size: 64px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 6.4px;
text-transform: uppercase;
 }
 .about-p{
font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px
 }